{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Quem sou eu?</h1>
    <p>Olá! Meu nome é <strong>Pedro Lima</strong>, tenho 18 anos e estou no 3° ano do Ensino Médio Técnico em TI no Colégio Cotemig.</p>
    
    <p>Atualmente, atuo como estagiário em uma consultoria financeira. No meu dia a dia, trabalho diretamente com rotinas de contabilidade e organização de processos, buscando sempre integrar ferramentas tecnológicas para automatizar tarefas e otimizar os resultados da empresa.</p>
    
{% endblock %}
