{% extends 'layout.html' %}

{% block title %}Projetos Futuros{% endblock %}

{% block content %}
    <h1>Projetos para o Futuro</h1>
    <p> <p>Tenho grande interesse pelo mundo dos negócios e pela transformação de processos corporativos. Gosto de analisar como as empresas funcionam, identificando oportunidades de melhoria para alcançar resultados cada vez mais expressivos.</p>
    <p>Para o futuro, pretendo atuar na área de gestão, liderando a evolução dos setores e contribuindo diretamente para o sucesso da organização.</p></p>
{% endblock %}
